/* #region Global */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
    margin-bottom: 72px;
}
p {
    margin: 0;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
}

input {
    font-family: inherit;
}

/* #endregion */

/* #region Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
nav .navigation {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
}

address {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
address .contacts {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
span {
    color: #2e2f42;
}
.logo-span {
    color: #f4f4fd;
}
.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active {
    position: relative;
    display: inline-block;
    color: #404bbf;
} 

.nav-link-active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
} 

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #endregion */

/* #region Hero */

.hero-image {
    background-color: #2e2f42;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: 
    linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.page-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    
}
.hero-image-button {
    display: block;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-image button:hover,
.hero-image button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region Benefits */

.section-one {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-one-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.section-one-list li {
    flex-basis: calc(100% - (3 * 24px) / 4);
}

.section-one-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Team */

.section-two {
    background-color:#f4f4fd;
    padding: 120px 0;
}
.section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-two-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.section-two .list-item {
    background-color: #FFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 24px * 3) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-two .card-caption {
    padding-top: 32px;
    padding-bottom: 32px;
}
.section-two .card-header {
    text-align: center;
}
.section-two .card-text {
    text-align: center;
    margin-bottom: 8px;
}

.section-two-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.socials-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-two .socials-background:hover,
.section-two .socials-background:focus {
    background-color: #404BBF;
}

.socials-icon {
    fill: #f4f4fd;
}

/* #endregion */

/* #region Portfolio */

.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-three-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.section-three .card-caption {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    max-width: 360px;
    height: 120px;
}

.section-three .list-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-three .list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.image-box {
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 300px;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    background-color: rgba(77, 90, 229, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.section-three .list-item:hover .overlay-text {
    transform: translateY(0);
}

/* #endregion */

/* #region Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}
.footer-ad {
    margin-right: 120px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-right: 80px;
}

.footer-socials-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer .socials-background {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-background:hover,
.footer .socials-background:focus {
    background-color: #31D0AA;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
    color: #fff;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
}

.form-icon {
    margin-left: 16px;
}

.subscribe-input:hover,
.subscribe-input:focus {
    border-color: #31D0AA;
}

.form-button:hover,
.form-button:focus {
    background-color: #31D0AA;
}


/* #endregion */

/* #region Modal window */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    /* opacity: 0;
    pointer-events: none;  */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay .is-open {
    opacity: 1;
    pointer-events: all;
} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-close,
.modal-button:focus .modal-close {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-wrapper {
    margin-bottom: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input {
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-input:focus + .input-icon {
    fill: #4d5ae5;
}

.comment-wrapper {
    margin-bottom: 16px
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.form-checkbox {
    cursor: pointer;
}

.accept {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-checkbox:checked + .accept .checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
    color: #4d5ae5;
}

.submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    align-self: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
    background-color: #404bbf;
}

/* #endregion */